.card-bg-primary {
    background: linear-gradient(135deg, #007bff, #0069d9);
    color: white;
}
.card-bg-success {
    background: linear-gradient(135deg, #28a745, #218838);
    color: white;
}
.card-bg-info {
    background: linear-gradient(135deg, #17a2b8, #138496);
    color: white;
}
.card-bg-warning {
    background: linear-gradient(135deg, #ffc107, #e0a800);
    color: white;
}
.card-bg-danger {
    background: linear-gradient(135deg, #dc3545, #c82333);
    color: white;
}


.btn-primary-custom {
    background: linear-gradient(135deg, #007bff, #0069d9);
    color: white;
    border: none;
}
.btn-success-custom {
    background: linear-gradient(135deg, #28a745, #218838);
    color: white;
    border: none;
}
.btn-info-custom {
    background: linear-gradient(135deg, #17a2b8, #138496);
    color: white;
    border: none;
}
.btn-warning-custom {
    background: linear-gradient(135deg, #ffc107, #e0a800);
    color: white;
    border: none;
}
.btn-danger-custom {
    background: linear-gradient(135deg, #dc3545, #c82333);
    color: white;
    border: none;
}


.btn-custom:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}


.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.nav-link-custom {
    background: none;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

.nav-link-custom:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#logoutBtn{
    border-radius: 6px;
}
